<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        fixedInViewport
        class="sidenav"
        role="dialog"
        mode="over"
    >
        <mat-toolbar>Menu</mat-toolbar>
        <ng-content select="nav-list" />
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>video-cropper</span>
        </mat-toolbar>
        <ng-content />
    </mat-sidenav-content>
</mat-sidenav-container>
